@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&family=Lato:wght@300;400&family=Open+Sans:ital,wght@0,400;0,500;1,300;1,400&family=Oswald:wght@200;300;400;500&family=Roboto:ital,wght@0,300;0,400;0,500;1,400&family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

@layer base {

  body {
    background: #eee;
    font-family: "Poppins", "roboto";
  }
}

.custom-radio {
  width: 10px;
  height: 10px;
}

.custom-radio>div {
  box-shadow: 0 0 0 5px white;
  cursor: pointer;
}

.custom-radio input:checked+div {
  @apply bg-blue-500;
  box-shadow: 0 0 0 2.5px white,
    0 0 0 5px rgb(59 130 246 / var(--tw-bg-opacity));

}

.custom-checkbox input:checked+div .custom-checkbox-square {
  background: rgb(59 130 246 / var(--tw-bg-opacity));
}

.custom-checkbox-square {
  width: 20px;
  height: 20px;
}

.term-checkbox {
  background: white;
  width: 25px;
  height: 25px;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"]:checked+.term-checkbox {
  background: blue;
}

.term-checkbox i {
  font-size: 1.2rem;
  color: white;
}