.button {
    width: 300px;
    padding: 1.5rem 2rem;
    color: white;
    background: black;
    margin: 2rem;
    border-radius: 1rem;
}

.buttonSecondary {
    color: aqua;
    background: yellow;
}